.glowCard {
  border-radius: 40%;
  /* From https://css.glass */
  background: #000;
  border-radius: 40%;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(21, 24, 35, 0.3);
  width: 500px;
  height: auto;
  padding: "1rem";
}

.image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
