.glowCard {
  border-radius: 40%;
  /* From https://css.glass */
  background: #000;
  border-radius: 40%;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(21, 24, 35, 0.3);
  width: 500px;
  height: 350px;
  padding: "1rem";
  -webkit-box-shadow: 0px 0px 118px 45px rgba(102, 94, 255, 0.9);
  -moz-box-shadow: 0px 0px 118px 45px rgba(102, 94, 255, 0.9);
  box-shadow: 0px 0px 118px 45px rgba(102, 94, 255, 0.9);
}

.image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
